<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Reader</title>
    <link rel="icon" type="image/x-icon" href="static/database_icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Query Your Database <img class="db-image" src="static\images\database.png" /></h1>
        <form action="{{ url_for('get_prompt') }}" method="post" class="mt-3">
            <div class="form-group">
                <input id="input_field" type="text" name="prompt" class="form-control" placeholder="Enter your prompt"
                    required>
                <div class="down_button">
                    <button id="submit_button" type="submit" class="btn btn-primary" 11><img
                            src="static\images\down-arrow.png" /></button>
                </div>
            </div>
        </form>
        <br>
        <br>
        <div id="data-wrapper">

        </div>
    </div>

</body>

</html>